    <h4>Warm reminder</h4>
    <p> <%= ENV['BRAND'] %> aims to provide an online platform which connects bookowners and those who want the books.  People so connected shall decide the method of passing on the books.  Please be aware of online frauds or phishing as if you are using other social networks or platforms.</p>