
<h3> Welcome to <%= ENV['BRAND'] %> </h3>

<div>
  <p> Tamago means "egg" in Japanese (玉子,卵,たまご).  We take it as the birth and beginning of the idea of this application. </p>
  <p> In the digital age, we are concerned about physical books - some may not be digitalised nor re-printed. </p>
  <p> Probably you have suddenly come across a book in mind which by any means you want to revisit.  Lost books are like lost songs or rhythms, you may have no clues even from internet search engines.  </p>
  <p> On the contrary, you may have books to throw away. </p>
  <p> What a mismatch for resources. </p>
  <p> We encourage free sharing of books. </p>
  <p> Lost and found, the Tamago Library hopes to be a free platform for this.</p>
</div>
